body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@media screen and (min-width: 768px) {
  .navbar-expand-sm{
    justify-content: space-between;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.customModal {
  position: absolute;
  background-color: #FFE;
  padding: 20px;
  width: 50%;
}

.tableCmd td {
    padding: 10px!important;
  }

  .tableCmd th {
    padding: 10px!important;
  }